* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}

.slideshow-container {
  width: 2250px;
  margin: 0;
}
.container {
  width: 1340px;
  margin: 0 auto;
}
.logo-information {
  display: flex;
  justify-content: space-between;
}
.logo-text-information {
  display: flex;
  justify-content: left;
  width: 450px;
}
.logo-text {
  width: 165px;
  padding-top: 3px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 500px;
  letter-spacing: 16px;
  font-family: Tahoma, sans-serif;
  color: #0b0b0b;
}
.logotext-info {
  text-align: start;
  padding-top: 7px;
  letter-spacing: 1.2px;
  font-family: Tahoma, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  width: 250px;
}
.call-information {
  display: flex;
  justify-content: space-between;
  width: 445px;
}
.call-number {
  font-family: Tahoma, sans-serif;
  font-weight: bold;
  font-size: 38px;
}
.click-button {
  padding-top: 6px;
  padding-right: 8px;
}
.callback-button {
  font-size: 15px;
  margin: 0;
  padding: 0;
  border: 0;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  width: 150px;
  height: 35px;
  background: linear-gradient(to top, #fd6e49, #ff5257);
}

.callback-button:hover {
  background: linear-gradient(to right, #79d879, #10b418);
  -webkit-animation: hoverAnimations linear 1s infinite;
  animation: hoverAnimations linear 1s infinite;
}

@keyframes hoverAnimations {
  0% {
    box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3),
      0 0 0 0 rgba(56, 163, 253, 0.2), 0 0 0 0 rgba(56, 163, 253, 0.2);
  }
  40% {
    box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3),
      0 0 0 15px rgba(56, 163, 253, 0.2), 0 0 0 0 rgba(56, 163, 253, 0.2);
  }
  80% {
    box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3),
      0 0 0 30px rgba(56, 163, 253, 0), 0 0 0 26.7px rgba(56, 163, 253, 0.067);
  }
  100% {
    box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3),
      0 0 0 30px rgba(56, 163, 253, 0), 0 0 0 40px rgba(56, 163, 253, 0);
  }
}
.nav-decoration {
  margin-top: 8px;
  background-color: #0b0b0b;
  opacity: 0.7;
  padding-bottom: 10px;
  width: 2250px;
}
.header__list {
  padding-top: 7px;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}
.header__list-item {
  margin-top: 5px;
  border-left: 2px solid #bbb;
}
.header__list-item:first-child {
  border: none;
}
.header__list-link {
  letter-spacing: 1px;
  font-weight: bold;
  color: #afb0b0;
  font-family: Tahoma, sans-serif;
  font-size: 15px;
  padding: 0px 74px 0px 80px;
}
.header__list-link:hover {
  color: #fff;
  font-weight: bold;
  font-size: 15px;
}
.main-content-elements {
  padding-top: 8px;
}































.main-title,
.text-information,
.button__watch-ideas,
.nav-decoration,
.main__list-item,
.main-price__subtitle {
  position: absolute;
}
.text-information {
  font-size: 30px;
  top: 300px;
  left: 200px;
  color: #fff;
}
.main__list-item {
  text-align: center;
  width: 305px;
  height: 75px;
  font-weight: bold;
  font-size: 50px;
  top: 210px;
  left: 200px;
  background-color: lavender;
}
.main__list-link {
  color: #0b0b0b;
}
.main-price__subtitle {
  font-weight: bold;
  font-size: 50px;
  top: 210px;
  left: 600px;
  background-color: lawngreen;
  color: #fff;
}
.main-title {
  font-family: Tahoma, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 62px;
  background-color: lavender;
  color: #0b0b0b;
  top: 100px;
  left: 200px;
}



.callInfo {
  width: 380px;
  display: flex;
  justify-content: space-between;
  
}
.allheader {
  width: 1333px;
  display: flex;
  justify-content: right;
  padding-top: 2px;
}



.logoElement {
  width: 390px;
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 130px;
  margin-right: 35px;
}

.button__watch-ideas {
  margin: 0;
  padding: 0;
  border: 0;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  height: 70px;
  text-align: center;
  width: 270px;
  background: linear-gradient(to top, #fd6e49, #ff5257);
  text-transform: uppercase;
  top: 400px;
  left: 200px;
  font-size: 25px;
}

.button__watch-ideas:hover {
  border: 2px solid #fff;
}


.mySlides {
  display: none;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 470px;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: 300px;
  font-size: 40px;
  transition: 0.6s ease;
  user-select: none;
}
.dotElements {
  position: absolute;
  top: 500px;
  left: 430px;
}
.prev {
  left: 350px;
}
.next {
  left: 550px;
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #fff;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.main-title::after {
  content: "";
  width: 0;
  height: 0;
  border-bottom: 75px solid transparent;
  border-left: 35px solid lavender;
  position: absolute;
}
.main-title::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 75px solid transparent;
  left: -35px;
  border-right: 35px solid lavender;
  position: absolute;
}
.main__list-item::after {
  content: "";
  width: 0;
  height: 0;
  border-bottom: 75px solid transparent;
  right: -35px;
  border-left: 35px solid lavender;
  position: absolute;
}
.main__list-item::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 75px solid transparent;
  left: -35px;
  border-right: 35px solid lavender;
  position: absolute;
}
.main-price__subtitle::after {
  content: "";
  width: 0;
  height: 0;
  border-bottom: 60px solid transparent;
  border-left: 35px solid lawngreen;
  position: absolute;
}
.main-price__subtitle::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 59px solid transparent;
  left: -35px;
  border-right: 35px solid lawngreen;
  position: absolute;
}
.fade::after {
  display: block;
  content: "";
  width: 270px;
  height: 5px;
  background-color: #000000;
  margin: 40px auto 70px auto;
  position: absolute;
  top: 225px;
  left: 220px;
}
.fade::before {
  display: block;
  content: "";
  width: 200px;
  height: 5px;
  background-color: #ffffff;
  margin: 40px auto 70px auto;
  position: absolute;
  top: 179px;
  left: 1px;
  transform: rotate(115deg);
}

.market-service {
  width: 2250px;
  position: absolute;
  display: flex;
  justify-content: center;
  top: 678px; 
  text-align: center;
  background-color: #d8d3d2;
  opacity: 0.5;
}
.img-picture {
  margin: 0 auto;
  border: 2px solid #413f3f;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  padding: 28px 28px 28px 28px;
}
.market-card {
  width: 300px;
  padding-top: 25px;
}
.title-service {
  padding-top: 25px;
}
.text-service {
  padding-bottom: 25px;
}
